/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}

.section-padding {padding: 80px 0}


.quote-form-wraper img {
    display: block;
    margin: 0 auto;
}

.blue-quote-form {
    background: #19b5fe none repeat scroll 0 0;
    margin-top: -84px;
    max-width: 750px;
    padding-left: 100px;
    padding-right: 100px;
}
.blue-quote-form h3 {
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 22px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
}
h3 {
}
.blue-quote-form h3::after {
    background: #19b5fe none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 50px;
    bottom: -4px;
    content: "";
    height: 10px;
    left: 50%;
    position: absolute;
    width: 10px;
    margin-left: -5px;
}
.blue-quote-form h3::before {
    background: #ddd none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    width: 120px;
}
.blue-quote-form input, .blue-quote-form textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #fff;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    border-bottom-color: #fff;
}
.blue-quote-form textarea {
    height: 100px;
}
.submit-btm button[type="submit"] {
    background: #fff none repeat scroll 0 0;
    padding: 8px 30px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
    border: none;
}
.submit-btm button[type="submit"]:hover {
    color: #000
}
.submit-btm {
    padding: 15px 30px;
    text-align: center;
    color: #19B5FE;
    padding-bottom: 50px;

}
