/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.product-bg-1 {background-image: url(../img/product-bg-1.png);}
.product-bg-2 {background-image: url(../img/product-bg-2.png);}
.product-bg-3 {background-image: url(../img/product-bg-1.png);}
.product-bg-4 {background-image: url(../img/product-bg-1.png);}
.product-bg-5 {background-image: url(../img/product-bg-5.png);}
.product-bg-6 {background-image: url(../img/product-bg-1.png);}
.product-bg-7 {background-image: url(../img/product-bg-1.png);}
.product-bg-8 {background-image: url(../img/product-bg-1.png);}
.product-bg-9 {background-image: url(../img/product-bg-9.png);}
.product-bg-10 {background-image: url(../img/product-bg-1.png);}