
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i');


/*font-family: 'Rubik', sans-serif;
font-family: 'Playfair Display', serif;*/
h1,h2,h3,h4,h5,h6
{
	font-family:'Playfair Display', serif;
}
body
{
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	line-height: 1.9;
	color: #676767;
}
input:foucs, text-area:foucs, button:foucs, a:foucs
{
	outline: none;
}
img
{
	max-width: 100%;
	height: auto;
}
.header-section
{
	position: absolute;
	width: 100%;
	z-index: 9;
	top:0;
	left: 0;

}
.logo
{padding-top: 10px;}
.mainmenu ul
{

list-style-type: none;
margin:0px;
padding: 0px;
padding-top: 10px;


}
.mainmenu ul li 
{
display: inline-block;
}
.mainmenu ul li a 
{
color:white;
text-decoration: none; 
padding: 5px;
margin-left: 10px;
transition: 0.3s all ease;
}
.mainmenu ul li a:hover
{
	color:#10b6a7;
}
.mainmenu .btn 
{
	background-color: #10b6a7;
}
.hero-area
{
	background: url('../img/hero-bg.jpg');
	background-size: cover;
	background-color: #676767;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	z-index: 1;
	color: white;
	padding-top: 250px;
	padding-bottom: 175px;
	font-weight: 300;
}
.hero-area:after
{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	opacity:0.9;
	z-index: -1;
	background: #10b6a8;
background: -moz-linear-gradient(left, #10b6a8 0%, #0a742c 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #10b6a8), color-stop(100%, #0a742c));
background: -webkit-linear-gradient(left, #10b6a8 0%, #0a742c 100%);
background: -o-linear-gradient(left, #10b6a8 0%, #0a742c 100%);
background: -ms-linear-gradient(left, #10b6a8 0%, #0a742c 100%);
background: linear-gradient(to right, #10b6a8 0%, #0a742c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10b6a8', endColorstr='#0a742c', GradientType=1 );
}
.hero-area h2
{
	font-size: 54px;
	font-weight: 700;
	margin-bottom:50px;
}